<template>
  <b-container>
    <b-row>
      <b-col>
        <h3 class="text-center" v-if="!transactions || transactions.length === 0">No Transactions</h3>
        <div v-else>
          <div role="tablist" v-for="(transaction, index) in transactions" :key="index">
            <b-card no-body class="mb-1">
              <b-card-header header-tag="header" class="p-0" role="tab">
                <b-button
                  block
                  href="#"
                  v-b-toggle="`accordeon-${index}`"
                  :variant="getVariant(transaction)"
                >{{transaction.type}}: {{transaction.amount.toFixed(2)}}</b-button>
              </b-card-header>
              <b-collapse
                :id="`accordeon-${index}`"
                accordion="transaction-history"
                role="tabpanel"
              >
                <b-card-body>
                  <b-card-text>ID: {{transaction.id}}</b-card-text>
                  <b-card-text>Type: {{transaction.type}}</b-card-text>
                  <b-card-text>Amount: {{transaction.amount.toFixed(2)}}</b-card-text>
                  <b-card-text>Effective Date: {{transaction.effectiveDate.toLocaleString()}}</b-card-text>
                </b-card-body>
              </b-collapse>
            </b-card>
          </div>          
        </div>        
      </b-col>
    </b-row>
  </b-container>
</template>
<script src="./transactions-history.ts" />
